
        h1 {
            color: rgb(0, 0, 0);
        }  
        
        body {
            background-color: rgb(112, 128, 144);
               text-align: center;
             }
         
        #nav-table { 
               padding: 10px;
               width: 800px;
               height: 70px;
               }
      table, th, tr {
              border: rgb(47, 79, 79);
                     }
    div.box { text-align: center;
               
                
                }
