
        h1 {
            color: rgb(0, 0, 0);
        }  
        
        #page1 {
            background-color: rgb(112, 128, 144);
               text-align: center;
             }

       .about-bg {
                 background-image: url(https://nick577314.github.io/myBackground.jpg);
                 
                }
         
        div.nav-table { 
                background: rgb(119, 136, 153);
                width: 100%;
                text-align: center;
                display: block;
                
              
                      }

        div.box { text-align: center;
                
           
                }
