
        h1 {
            color: rgb(248, 248, 255);
        }  
       body#page1 {
            background-color: rgb(112, 128, 144);
               text-align: center;
             }
        body#page2 {
            background-color: rgb(112, 128, 144);
               text-align: center;
             }

       .about-bg {
                 background-image: url(https://nick577314.github.io/myBackground.jpg);
                 background-size: cover;
                }
         
        div.nav-table { 
                background: rgb(119, 136, 153);
                width: 100%;
                text-align: center;
                display: block;
                      }
            div.nav-table2 {
                width: 100%;
                text-align: center;
                display: block;
                
                      }
             div.about-p { 
                     
                     color: rgb(248, 248, 255);
                     display: flex;
                     width: 800px;
                     text-align: center;
                      }

        div.box { text-align: center;
                
                }
